<!-- <h1>Editing Planningboard</h1> -->
<h1>Editing <%= @planningboard.name %></h1>

<div class="container board-links">
  <%= link_to 'Back', @planningboard %>
  <span class = "pipe">|</span>
  <%= link_to 'Boards', planningboards_path %>
</div>

<div class="form">
  <%= render 'form' %>
</div>
