/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.title {
 text-align: center;
 font-size: 40px;
 font-family: sans-serif;
 color: #CFD8DC ;

}

h1 {
  text-align: center;
}

.image-box img{
  height: 400px;
  width: 400px;
}

img {
  height: 300px;
  width: 300px;
}

.container-board {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10px;
}

.image-box {
  margin: 0 10px 0 10px;
}

.img-first{
  margin-left: auto;
}

.img-last{
  margin-right: auto;
}

.board-name{
  margin: 0 auto 10px auto;
  text-align: center;
}

.board{
  text-align: center;
}

.board-links {
  text-align: left;
}

.board-links a {
  margin-right: 10px;
}

.board-name a{
  font-size: 18px;
}

#newboard {
  text-align: right;
}

.show-box {
  text-align: center;

}

.show-box img {
  border-radius: 10px
}

.show-box hr {
  width: 250px;
}

.show-description {
  max-width: 300px;
  margin: 0 auto;
}

#comment-form {
  display: none;
}
